/* General Styling */
* {
    font-family: "Boogaloo", Arial, Tahoma, sans-serif;
    margin: 0;
    /* background-image: url(image/pattern.jpg); */
}

.boogaloo-regular {
    font-family: "Boogaloo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    bottom: 20px;
}

.Navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Navbar li {
    display: inline;
    margin-right: 20px;
}

.Burgerlab-logo img {
    max-width: 80px;

}

/* Responsive styling */
@media only screen and (max-width: 768px) {
    .Navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .list-items1,
    .list-items2 {
        margin-top: 20px;
    }

    .list-items2 {
        margin-top: 20px;
        position: relative;
        bottom: 20px;
    }
}

.background-img {
    position: relative;
    bottom: 40px;
    z-index: -1;
    background-image: url('image/Untitled-1-1-1 (1).jpg');
    background-size: cover;
    /* Ensures the background image covers the entire container */
    background-position: center;
    /* Centers the background image */
    background-repeat: no-repeat;
    /* Prevents the background image from repeating */
    width: 100%;
    /* Sets the width of the container */
    height: 400px;
    /* Adjust the height as needed */
}

.image-3jpg>img {
    max-width: 80%;
    margin-left: 20px;
}

.image-3jpg {
    width: 50%;
}

.text-alignment {
    width: 50%;
}

.section-first {
    display: flex;
}

.labs-alignment {
    text-align: center;
    margin-top: 40px;
}

.Burgers-alignment {
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

.first-burger,
.second-burger,
.third-burger {
    width: 20%;
    flex-direction: column;
}

.first-burger>img,
.second-burger>img,
.third-burger>img {
    width: 100%;
}

/* mcb-section start */

.mcb-section {
    background-image: url(image/service.jpg);
    font-size: medium;
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    color: white;
    margin-top: 30px;
}

.mcb-section>img {
    width: 60%;
}

.icons-alignment {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: black;
}

.icons-alignment>div>i {
    margin-top: 20px;
    color: white;
    width: 20%;
}

footer {}

.footer-copy {
    color: gray;
    background-color: black;
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
}

.footer-copy>div {
    align-self: center;
}

.up-icon {
    display: inline-block;
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}



.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%
}